<div ng-app="myApp.grid" ng-controller="gridController">
<div ng-if = "userName">
  <div class="row custom-row">
    <div class="col-sm-12 col-lg-12 col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Grid examples</h3>
        </div>
        <div class="panel-body">
          <div class="row custome-row1">
            <button id="footerButton" class="btn btn-success" ng-click="toggleFooter()">Toggle Grid Footer</button>
            <button class="btn btn-success" ng-click="toggleColumnFooter()">Toggle Column Footer</button>
            <button type="button" class="btn btn-success" ng-click="clearAll()">Clear All</button>
            <button type="button" class="btn btn-success" ng-click="selectAll()">Select All</button>
            <div style="float:right" >
              <input type="text" ng-model='filter.filterValue'>
              <button class="btn btn-default" ng-click='getFilteredData()'>Filter</button>
            </div>
          </div>
          <div class="row custome-row1">
            <div id="grid1" ui-grid="gridOptions"
            ui-grid-edit
            ui-grid-pagination
            ui-grid-exporter
            ui-grid-selection
            ui-grid-move-columns
            class="grid"></div>
            <p>Current page : {{ gridApi.pagination.getPage() }} of {{ gridApi.pagination.getTotalPages() }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
